
#field {
    background-color: brown;
    

    
}

#bar{
    height: 100dvh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}


#choice1{
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: aqua;

}


#choice2{
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    background-color: aquamarine;
}